<!DOCTYPE HTML>
<HTML LANG="en">
	<HEAD>
		<TITLE>AirBnB clone</TITLE>
        <META charset="utf-8">
		<LINK REL="shortcut icon" HREF="images/icon.ico" >
		<LINK REL="stylesheet" HREF="styles/4-common.css"/>
		<LINK REL="stylesheet" HREF="styles/3-header.css"/>
		<LINK REL="stylesheet" HREF="styles/3-footer.css"/>
		<LINK REL="stylesheet" HREF="styles/6-filters.css"/>
	</HEAD>
    <BODY>
		<HEADER>
			<DIV ID="header_logo"></DIV>
		</HEADER>
		<DIV CLASS="container">
			<SECTION CLASS="filters">
				<BUTTON>Search</BUTTON>
				<DIV CLASS="locations">
					<H3>States</H3>
					<H4>&nbsp;</H4>
					<UL CLASS="popover">
						<LI><H2>Arizona</H2>
							<UL>
								<LI><H4>Page</H4></LI>
								<LI><H4>Page2</H4></LI>
							</UL></LI>
						<LI><H2>California</H2>
							<UL>
								<LI><H4>San Francisco</H4></LI>
								<LI><H4>Los Altos</H4></LI>
							</UL></LI>
					</UL>
				</DIV>
				<DIV CLASS="amenities">
					<H3>Amenities</H3>
					<H4>&nbsp;</H4>
					<UL CLASS="popover">
						<LI><H4>Internet</H4></LI>
						<LI><H4>TV</H4></LI>
						<LI><H4>Kitchen</H4></LI>
						<LI><H4>Iron</H4></LI>
					</UL>
				</DIV>

			</SECTION>
		</DIV>
		<FOOTER>
			<P>Holberton School</P>
		</FOOTER>
	</BODY>
</HTML>
